@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .inputStyle {
    @apply border-solid border-primary border-2 rounded-md p-3 w-9/12 lg:w-1/2;
  }
  /* style des boutons */
  .buttonStyle {
    @apply bg-primary text-white text-base rounded-md p-2 hover:bg-secondary hover:text-primary;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
